﻿body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.topnav_color {
    background-color: #1C2331 /*Dark Grayish Blue*/
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1C2331; /*Dark Grayish Blue*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav_color_font_header {
    padding: 6px 8px 1px 16px;
    font-size: 25px;
    color: #818181;
    display: block
}

.sidenav_color_font {
    padding: 1px 8px 0px 30px;
    font-size: 20px;
    color: #818181;
    display: block
}
/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover {
    color: #f1f1f1;
}*/

/* Style page content */
.main {
    margin-left: 350px; /* Same as the width of the sidebar */
    padding: 10px 10px;
}

/* Footer page content */
.footer {
    margin-left: 350px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
