﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand navbar-dark topnav_color">
        <font color="white" size="5">Isaac Nason</font>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Portfolio", "Home")">Portfolio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
            </ul>
        </div>
    </nav>



    <!-- MainBody -->
    <!-- SideNavigation -->

    <div class="row no-gutters">
        <div class="col-4 col-md-3 navbar-dark topnav_color">
            <img src="~/Content/Images/SiteIsaacProfilePic.jpg" class="img-thumbnail img-fluid" alt="Responsive image" />
            <p class="sidenav_color_font_header">
                Contact
            </p>
            <p class="sidenav_color_font d-none d-xl-block">
                <i class="fa fa-envelope"></i>   isaacdvlpthat@gmail.com
            </p>
            <p class="sidenav_color_font d-xl-none" style="word-break:break-word">
                <i> isaacdvlpthat@gmail.com</i>
            </p>
            <p class="sidenav_color_font_header">
                Skills
            </p>
            <p class="sidenav_color_font" style="word-break:break-word">
                .NET Framework
            </p>
            <p class="sidenav_color_font">
                Xamarin
            </p>
            <p class="sidenav_color_font">
                MVVM
            </p>
            <p class="sidenav_color_font">
                C#
            </p>
            <p class="sidenav_color_font">
                SQL
            </p>

        </div>


        <!-- Content to the right of sidebar -->
        <div class="col-8 col-md-9">
            <div id="main">
                @RenderBody()
            </div>
        </div>
    </div>


   


   
   
    

    <footer class="footer">
        <div class="pull-right">
            <ul class="list-inline">
                <li>
                    <a href="https://www.linkedin.com/in/isaac-nason-75990214/"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>

                </li>

            </ul>

        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
