﻿@{
    ViewBag.Title = "BOM Comparison Tool";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">Compares thousands of parts and finds the differences between an outdated BOM to an updated one. This tool saved my team HOURS of work.</p>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="~/Content/Images/BOMComparisonTool/2018-07-31 10_49_58-BOM Comparison Tool.xlsm  [Read-Only] - Excel.png">
                    <img src="~/Content/Images/BOMComparisonTool/2018-07-31 10_49_58-BOM Comparison Tool.xlsm  [Read-Only] - Excel.png" alt="BOM Comparison Image 1" style="width:100%">
                    <div class="caption">
                        <p>This is the main spreadsheet that includes controls and instructions</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="~/Content/Images/BOMComparisonTool/2018-07-31 10_51_21-BOMComparisonToolPartsList.png">
                    <img src="~/Content/Images/BOMComparisonTool/2018-07-31 10_51_21-BOMComparisonToolPartsList.png" alt="BOM Comparison Image 2" style="width:100%">
                    <div class="caption">
                        <p>Output of comparing the different parts</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
