﻿@{
    ViewBag.Title = "Calculator";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">A simple spiffy calculator.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Content/Images/Calculator/2018-07-31 18_29_59-Window.png">
                    <img src="~/Content/Images/Calculator/2018-07-31 18_29_59-Window.png" alt="Calculator Image 1" style="width:100%">
                    <div class="caption">
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Content/Images/Calculator/2018-07-31 18_30_40-Window.png">
                    <img src="~/Content/Images/Calculator/2018-07-31 18_30_40-Window.png" alt="Calculator Image 2" style="width:100%">
                    <div class="caption">
                        <p>Sides display the operator being used</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Content/Images/Calculator/2018-07-31 18_31_12-Window.png">
                    <img src="~/Content/Images/Calculator/2018-07-31 18_31_12-Window.png" alt="Calculator Image 3" style="width:100%">
                </a>
            </div>
        </div>
    </div>
</div>
