﻿@{
    ViewBag.Title = "CookBook";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">A cookbook that holds user defined recipes and menus. WPF framework used. SQLite is used to store user data to the local Windows desktop.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/CookBook/2018-07-31 18_25_36-Window.png">
                    <img src="~/Content/Images/CookBook/2018-07-31 18_25_36-Window.png" alt="CookBook Image 1" style="width:100%">
                    <div class="caption">
                        <p>Main launch screen</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/CookBook/2018-07-31 18_26_20-Window.png">
                    <img src="~/Content/Images/CookBook/2018-07-31 18_26_20-Window.png" alt="CookBook Image 2" style="width:100%">
                    <div class="caption">
                        <p>An example of showcasing a recipe</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/CookBook/2018-07-31 18_28_35-Window.png">
                    <img src="~/Content/Images/CookBook/2018-07-31 18_28_35-Window.png" alt="CookBook Image 3" style="width:100%">
                    <div class="caption">
                        <p>Dynamic search for recipes. Lambdas used to enable dynamic search functionality</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/CookBook/2018-07-31 18_29_01-Window.png">
                    <img src="~/Content/Images/CookBook/2018-07-31 18_29_01-Window.png" alt="CookBook Image 4" style="width:100%">
                    <div class="caption">
                        <p>EZ Add enables users to copy/paste recipes directly from the web. EZ Add makes for creating recipes much faster than manually entering them</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

