﻿@{
    ViewBag.Title = "Encode This";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">An Android application that enables users to create their own coded messages whether those messages are used for text messages, emails, or even unique passwords for use in 
    other applications. The app links directly to the user's contacts so that they can send SMS text messages to their friends.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/EncodeThis/Screenshot_20170425-212527.png">
                    <img src="~/Content/Images/EncodeThis/Screenshot_20170425-212527.png" alt="EncodeThis Image 1" style="width:100%">
                    <div class="caption">
                        <p>Main launch screen</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/EncodeThis/Screenshot_20170425-212538.png">
                    <img src="~/Content/Images/EncodeThis/Screenshot_20170425-212538.png" alt="EncodeThis Image 2" style="width:100%">
                    <div class="caption">
                        <p>Creating code</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/EncodeThis/Screenshot_20170425-212556.png">
                    <img src="~/Content/Images/EncodeThis/Screenshot_20170425-212556.png" alt="EncodeThis Image 3" style="width:100%">
                    <div class="caption">
                        <p>Instructions</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/EncodeThis/Screenshot_20170425-212654.png">
                    <img src="~/Content/Images/EncodeThis/Screenshot_20170425-212654.png" alt="EncodeThis Image 4" style="width:100%">
                    <div class="caption">
                        <p>Menu</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


