﻿@{
    ViewBag.Title = "MOB Nation";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">
        This Xamarin developed application gives MOB members the ability to see locations of all MOB Nation businesses. The app also allows members to add their own hosted MOB events.
        Both MOB member businesses and events are shown on a map relative to the user's current position. Turn-by-turn directions are provided. Xamarin library used with Google's FireBase to
        enable push notifications. FireBase also remotely stores both member and event data in Google's Realtime database (the cloud). Also created a User Account control allowing users to
        log-in and edit their information. Logged-in users have added app functionality in comparison to non-members that do not have log-in credentials.
    </p>
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/MOBNewLogoDefault.png">
                    <img src="~/Content/Images/MOBNation/MOBNewLogoDefault.png" alt="MOBNation Image 1" style="width:100%">
                    <div class="caption">
                        <p>Splash screen</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/Screenshot_20180206-190917.png">
                    <img src="~/Content/Images/MOBNation/Screenshot_20180206-190917.png" alt="MOBNation Image 2" style="width:100%">
                    <div class="caption">
                        <p>Main launch screen</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/Screenshot_20180206-190940.png">
                    <img src="~/Content/Images/MOBNation/Screenshot_20180206-190940.png" alt="MOBNation Image 3" style="width:100%">
                    <div class="caption">
                        <p>User account log-in animated pop-up</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/Screenshot_20180206-190957.png">
                    <img src="~/Content/Images/MOBNation/Screenshot_20180206-190957.png" alt="MOBNation Image 4" style="width:100%">
                    <div class="caption">
                        <p>Menu</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/Screenshot_20180209-194922.png">
                    <img src="~/Content/Images/MOBNation/Screenshot_20180209-194922.png" alt="MOBNation Image 5" style="width:100%">
                    <div class="caption">
                        <p>
                            Google maps displaying MOB businesses. Magnifying glass allows search functionality. Addresses, zip codes, states, cities, etc. can be entered.
                            The map automatically finds the user's current location and lists (and displays) the businesses closest
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/2018-07-31 21_34_49-MOB - Microsoft Visual Studio.png">
                    <img src="~/Content/Images/MOBNation/2018-07-31 21_34_49-MOB - Microsoft Visual Studio.png" alt="MOBNation Image 6" style="width:100%">
                    <div class="caption">
                        <p>
                            Using Xamarin framework. Example showing my MVVM architectural pattern in the solution explorer of Visual Studio. Most of the source code is located in the PCL of Xamarin.
                            There is some native code located in both Android and iOS directories
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/MOBNation/2018-07-31 21_38_39-MOB - Microsoft Visual Studio.png">
                    <img src="~/Content/Images/MOBNation/2018-07-31 21_38_39-MOB - Microsoft Visual Studio.png" alt="MOBNation Image 7" style="width:100%">
                    <div class="caption">
                        <p>
                            Example showing my search algorithm. There's ALOT going on here so please see explanation below
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <p>Search Algorithm</p>
        <p></p>
        <p>Purpose: Find the closest MOB Business location according to the user’s search criteria</p>
        <p>Problem: Xamarin GeoLocator Plugin “may” return several GPS coordinates</p>
        <p></p>
        <p>Walkthrough:</p>
        <p>1. Xamarin Plugin GeoLocator returns several GPS coordinates according to user’s search criteria</p>
        <p>2. Iterate through each of the GeoLocator returned locations to find which MOB business location pin is closest</p>
        <p>3. For each user search location, the closest MOB business location pins are collected in a list</p>
        <p>4. These MOB business location pins are iterated through to see which "one" is the closest distance from each of the user’s search locations</p>
        <p>5. Google maps is then centered on the final business pin location that is the closest to each of the user’s search locations</p> 
        <p>6. The listview then orders all of the MOB businesses according to distance from the final pin</p> 
        <p></p>
        <p>Explanation:</p>
        <p></p>
        <p>A “DistanceTo” method returns the closest distance between two GPS coordinates. This method is called inside of 3 separate lambdas that order these distances according to the closest distance.
        These 3 lambdas are contained inside a foreach loop that is iterating through each of the returned user’s search locations.</p>
    </div>
</div>




