﻿@{
    ViewBag.Title = "Simple As...Run";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">
        This Xamarin developed application is a simple running app that gives the user audio feedback of their current time, distance, average MPH, and elevation while running. When the user is done running,
        the app will generate a log of their run displaying total time, total distance, highest elevation, and average MPH. The interval of audio feedback can be set in the settings page.
        A google map is displayed in the homepage so that the user can see their current location.
    </p>
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/SimpleAsRun/Screenshot_20180828-094656.jpg">
                    <img src="~/Content/Images/SimpleAsRun/Screenshot_20180828-094656.jpg" alt="SimpleAsRun Image 1" style="width:100%">
                    <div class="caption">
                        <p>Home Page</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/SimpleAsRun/Screenshot_20180828-094729.jpg">
                    <img src="~/Content/Images/SimpleAsRun/Screenshot_20180828-094729.jpg" alt="SimpleAsRun Image 2" style="width:100%">
                    <div class="caption">
                        <p>After pushing start</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/SimpleAsRun/Screenshot_20180828-094752.jpg">
                    <img src="~/Content/Images/SimpleAsRun/Screenshot_20180828-094752.jpg" alt="SimpleAsRun Image 3" style="width:100%">
                    <div class="caption">
                        <p>Log created after the run</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/SimpleAsRun/Screenshot_20180828-094932.jpg">
                    <img src="~/Content/Images/SimpleAsRun/Screenshot_20180828-094932.jpg" alt="SimpleAsRun Image 4" style="width:100%">
                    <div class="caption">
                        <p>Logs that are saved to the device</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg">
            <div class="thumbnail">
                <a href="~/Content/Images/SimpleAsRun/Screenshot_20180828-100654.jpg">
                    <img src="~/Content/Images/SimpleAsRun/Screenshot_20180828-100654.jpg" alt="SimpleAsRun Image 5" style="width:100%">
                    <div class="caption">
                        <p>
                            Settings
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>