﻿@{
    ViewBag.Title = "SPS ToolBox";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>
    <p class="lead">
        This Windows application makes every-day tasks run more efficient for Tektronix, Inc personnel by providing quick access to mostly used web links, files, and applications.
        The toolbox provides a central location to access various tools used on a daily basis. WPF framework used.
    </p>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/SPSToolBox/2018-07-31 10_41_42-SPS TOOLBOX.png">
                    <img src="~/Content/Images/SPSToolBox/2018-07-31 10_41_42-SPS TOOLBOX.png" alt="SPSToolBox Image 1" style="width:100%">
                    <div class="caption">
                        <p>Main launch screen. These buttons launch whichever file, intranet link, or application that the user tied to each button</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/SPSToolBox/2018-07-31 10_42_47-SPS TOOLBOX.png">
                    <img src="~/Content/Images/SPSToolBox/2018-07-31 10_42_47-SPS TOOLBOX.png" alt="SPSToolBox Image 2" style="width:100%">
                    <div class="caption">
                        <p>Dynamic search functionality. If there is only one button highlighted, pressing "enter" launches the link</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/SPSToolBox/2018-07-31 10_43_32-SPS TOOLBOX.png">
                    <img src="~/Content/Images/SPSToolBox/2018-07-31 10_43_32-SPS TOOLBOX.png" alt="SPSToolBox Image 3" style="width:100%">
                    <div class="caption">
                        <p>Menu</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="~/Content/Images/SPSToolBox/2018-07-31 10_44_42-SPS ToolBox.png">
                    <img src="~/Content/Images/SPSToolBox/2018-07-31 10_44_42-SPS ToolBox.png" alt="SPSToolBox Image 4" style="width:100%">
                    <div class="caption">
                        <p>A smaller more efficient form of the toolbox that alphabetizes the buttons. Hovering the mouse over the toolbox icon displays this smaller form</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



