﻿@{
    ViewBag.Title = "Isaac Nason";
}



<div class="jumbotron">
    <h1>.NET Developer</h1>
    <p class="lead">
        .NET Framework developer specializing in the development of mobile applications targeted at Android and iOS platforms. Experienced in adding today's common mobile features such as cloud integrated databases, notifications, Google maps, and turn-by-turn direction.
    </p>
    <p class="lead">
        Also experienced in the development of Windows desktop applications primarily focused on efficiency and productivity in the professional workplace.
    </p>
    <p class="lead">
        Other tools picked up along the way - C#, SQL, Python, XAML/HTML, Javascript, jQuery, Bootstrap, Excel VBA, Google FireBase (similar to AWS), SDLC (Software Development Life Cycle), WPF (Windows Presentation Foundation), UWP (Universal Windows Platform), Xamarin for Visual Studio (enables cross-platform development), Entity Framework, MVVM and MVC architectural patterns, PL/SQL Developer, BitBucket, and GitHub.
    </p>
</div>




