﻿@{
    ViewBag.Title = "Isaac's Portfolio";
}
<div class="jumbotron">

    <h1>@ViewBag.Title</h1>

    <p class="lead">SunTek Solutions – custom software development firm, general web development</p>
    <p class="lead"><a href="@Url.Action("SimpleAsRun", "Home")">Simple As...Run</a> - Xamarin mobile application deployed to both Google and Apple app stores</p>
    <p class="lead"><a href="@Url.Action("MOBNation", "Home")">MOB Nation</a> - Xamarin business mobile application deployed to both Google and Apple app stores</p>
    <p class="lead"><a href="@Url.Action("EncodeThis", "Home")">Encode This</a> - Mobile application deployed to Google app store</p>
    <p class="lead"><a href="@Url.Action("SPSToolBox", "Home")">SPS ToolBox</a>- Windows desktop application used by several departments within my current workplace. Received an award for this application.</p>
    <p class="lead"><a href="@Url.Action("CookBook", "Home")">CookBook</a> - Windows desktop application </p>
    <p class="lead"><a href="@Url.Action("Calculator", "Home")">Calculator</a> - Windows desktop application</p>
    <p class="lead"> <a href="@Url.Action("BOMComparisonTool", "Home")">BOM (Bill of Materials) Comparison Tool</a> - Excel VBA desktop application </p>
</div>